org.gradle.caching=true
org.gradle.configuration-cache=true
org.gradle.configureondemand=true
org.gradle.jvmargs=-Xmx6144m
org.gradle.parallel=true

kotlin.stdlib.default.dependency=false

# API Endpoints (IMPORTANTE: Preenche com os teus endpoints privados)
# Cria um ficheiro gradle.properties local com estes valores
MEGACLOUD_API=
KISSKH_API=
KISSKH_SUB_API=
KAISVA=
